body {
    display: flex;
    background-image: url(./img/ocean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido {
    background-color:rgb(124, 210, 242);
    width: 40%;
    height: 80vh;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    /* mix-blend-mode: overlay; */
}
.personalizada{
    display: flex;
}

h4 {
    flex-basis: 170px;

}
input{
    flex: 1;
    padding: 3px;
  
}
.color{
    background-color: rgb(48, 119, 232);
}
